@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,800;1,400&family=Roboto:wght@400;700&display=swap');


  /* NAV */

body,
html {
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
  color: white;
  font-size: 18px;
  line-height: 1.5em;
}

#tut{
  z-index: 4;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.6);
  color: black;
}
#tut h3{
  color: black;
}
#tut span{
  position: relative;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 3em;
}
#arrow-left{
  left: 50px;
  animation: arrow-left 1s ease infinite;
}
#arrow-right{
  right: 50px;
  float: right;
  animation: arrow-right 1s ease infinite;
}
@keyframes arrow-left {
	0% {
		left: 50px;
	}
	50% {
	  left: 40px
	}
  100% {
		left: 50px;
	}
}
@keyframes arrow-right {
	0% {
		right: 50px;
	}
	50% {
	  right: 40px;
	}
  100% {
		right: 50px;
	}
}
#scrollRight {
  height: 100vh;
  width: 15%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 5;
}
#scrollLeft {
  height: 100vh;
  width: 15%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}


  /* STYLING */

body{
  font-family: 'Roboto', sans-serif;
  font-size: 16pt;
}
h1, h2, h3, h4, h5, .btn{
  font-family: 'Exo 2', sans-serif;
}
.btn{
  padding: 15px 60px;
  width: 300px;
  border: 4px solid #eee;
  border-radius: 5px;
  background: rgba(238, 238, 238, 0);
  color: rgb(238, 238, 238);
  text-align: center;
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: 800;
  line-height: 30px;
  cursor: pointer;
  transition: .5s ease all;
  transition-property: background-color, color;
}
.btn:hover{
  background: rgba(238, 238, 238, 1);
  color: rgb(36, 157, 86);
}
#intro .btn{
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
}
#intro{
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 7;
  top: 0;
  transition: 1s ease top;
  background: linear-gradient(-45deg, #249D57, #196e50);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
#intro-video{
  position: absolute;
  top: calc(50% - 50px);
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60vw;
  height: calc(60vw / 16 * 9);
  border-radius: 20px;
}
.overlay-text{
  position: absolute;
  top: calc(50% - 50px);
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40vw;
  text-align: center;
}
h1{
  display: block;
  margin: 0 auto;
  font-weight: 800;
  font-size: 3em;
  color: #eee;
  margin-bottom: 1em;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
h3{
  font-weight: 800;
  font-size: 3em;
  color: #eee;
  margin-bottom: 1em;
}
p{
  margin-bottom: 1em;
}

.map{
  position: relative;
  height: 100vh;
  width: 7560px;
  background: rgba(38,159,215,1);
  text-align: center;
}
.map #bg{
  position: absolute;
  bottom: 0;
  z-index: 1;
  display: block;
}
h2{
  position: fixed;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 800;
  font-size: 2.5em;
  color: rgba(0, 0, 0, .3);
  z-index: 3;
  width: 100%;
}

.hover{
  filter: grayscale(100);
  transition: 1s ease all;
  cursor: pointer;
  z-index: 2;
}
.hover:hover{
  -webkit-transform: scale(1.05); 
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}
#c1{
  position: absolute;
  bottom: 320px;
  left: 243px;
}
#c2{
  position: absolute;
  bottom: 312px;
  left: 1070px;
}
#c3{
  position: absolute;
  bottom: 162px;
  left: 2688px;
}
#c5{
  position: absolute;
  bottom: 175px;
  right: 2197px;
}
#c6{
  position: absolute;
  bottom: 155px;
  right: 1236px;
}
#c7{
  position: absolute;
  bottom: 320px;
  right: 140px;
}


  /* MODAL */

.modal-back{
  z-index: 9;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.6);
}
.modal{
  background: white;
  position: fixed;
  z-index: 10;
  transform: translateX(-50%);
  top: 120px;
  left: 50%;
  height: 70vh;
  width: 70vw;
  max-width: 1500px;
  overflow: scroll;
  border-radius: 10px;
  border: 5px solid white;
  overflow-x: hidden;
  padding: 40px;
  color: black;
}
.modal .close{
  position: fixed;
  width: 16px;
  height: 16px;
  right: 3em;
  color: black;
  cursor: pointer;
}
.close svg{
  width: 18px;
  height: 18px;
}
.modal article{
  width: 60%;
  margin: 0;
  padding-top: 3em;
  margin-bottom: 3em;
}
.modal article h5{
  font-size: 1.5em;
  margin-bottom: 1.5em;
}
.modal img{
  position: fixed;
  right: 3em;
  top: 10em;
  width: 30%;;
}
.modal img:nth-of-type(2){
  top: calc(10em + 20em);
}

::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(0,0,0,0);
  -webkit-border-radius: 100px;
  border-radius: 100px;
  margin-right: 5px;
}
::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}
::-webkit-scrollbar-thumb:vertical {
  background: #249d56c7;
  -webkit-border-radius: 100px;
  border-radius: 100px;
}
::-webkit-scrollbar-thumb:vertical:active {
  background: #249d56;
  -webkit-border-radius: 100px;
  border-radius: 100px;
}


  /* LOADING SCREEN  */

#loader{
  background: linear-gradient(-45deg, #249D57, #196e50);
	background-size: 100% 100%;
  width: 100vw;
  height: 100vh;
  z-index: 6;
  position: fixed;
  top: 0vw;
}
#loader h4{
  font-size: 6em;
  text-align: center;
  line-height: 100vh;
  text-transform: uppercase;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.3);
}
  
  /* Overlay animation */

.loaderOut {
  animation: out 2s ease;
  animation-delay: .5s;
}
.loaded{
  display: none;
}

@keyframes out {
  0%{ top: 0vw; }
  100%{ top: -100vw; }
}
  
  /* Loading animation */
    
.loading{
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: calc(50% + 35px);
  left: calc(50% + 320px);
  z-index: 7;
  animation: loop 3s ease-in-out infinite;
}
  
#load1{
  animation-delay: .3s;
}
#load2{
  margin-left: 30px;
  animation-delay: .4s;
}
#load3{
  margin-left: 60px;
  animation-delay: .5s;
}
.foop{
  animation: foop 2s 1;
}
.poof{
  animation: poof 1s 1;
}
    
@keyframes foop {
  0% {   top: -120vh;}
  70% {	top: calc(50% + 75px);}
  100% {	top: calc(50% + 35px);}
}
    
@keyframes loop {
  0% {   top: calc(50% + 35px);}
  30% {   top: calc(50% + 5px);}
  60% {   top: calc(50% + 75px);}
  1000% {   top: calc(50% + 35px);}
}
    
@keyframes poof {
  0% {   top: calc(50% + 35px);}
  100% {	top: -50vh;}
}

  /* DOS MOBILE  */
@media only screen and (max-width: 1050px) {
  #scrollLeft, #scrollRight, #tut, #scroller, #loader, #intro{
    display: none;
  }
  #mobileError{
    display: block !important;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(-45deg, #249D57, #196e50);
    text-align: center;
  }
  #mobileError p{
    display: block;
    position: fixed;
    top: 50vh;
    left: 50vw;
    width: 80%;
    transform: translate(-50%, -50%);
    font-family: 'Exo 2', sans-serif;
  }
}
#mobileError{
  display: none;
}